[submodule "bevy_bits"]
	path = bevy_bits
	url = https://github.com/void-scape/bevy_bits
[submodule "bevy-tilemap-editor-pls"]
	path = bevy-tilemap-editor-pls
	url = https://github.com/InnocentusLime/bevy-tilemap-editor-pls
[submodule "bevy_ldtk_scene"]
	path = bevy_ldtk_scene
	url = https://github.com/void-scape/bevy_ldtk_scene
[submodule "bevy_sequence"]
	path = bevy_sequence
	url = https://github.com/corvusprudens/bevy_sequence
[submodule "bevy_pretty_text"]
	path = bevy_pretty_text
	url = https://github.com/void-scape/bevy_pretty_text
[submodule "bevy_seedling"]
	path = bevy_seedling
	url = https://github.com/corvusprudens/bevy_seedling
