(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "bevy_ldtk_scene::Level": (
          uid: (0),
          tilesets: [
            (
              ty: Tiles(Some("ldtk/../sprites/park_spring.png")),
              tile_size: 16,
              width: 120,
              height: 68,
              spacing: 0,
              padding: 0,
              uid: (241),
              tiles: [],
              z: 13.0,
            ),
            (
              ty: Tiles(Some("ldtk/../sprites/park_spring.png")),
              tile_size: 16,
              width: 120,
              height: 68,
              spacing: 0,
              padding: 0,
              uid: (241),
              tiles: [],
              z: 12.0,
            ),
            (
              ty: Tiles(Some("ldtk/../sprites/park_spring.png")),
              tile_size: 16,
              width: 120,
              height: 68,
              spacing: 0,
              padding: 0,
              uid: (241),
              tiles: [],
              z: 11.0,
            ),
          ],
          background_asset_path: None,
        ),
      },
    ),
  },
)