(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "bevy_ldtk_scene::Level": (
          uid: (0),
          tilesets: [
            (
              ty: Tiles(Some("ldtk/../sprites/lamp_post.png")),
              tile_size: 8,
              width: 1,
              height: 4,
              spacing: 0,
              padding: 0,
              uid: (151),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/plants_&_foliage/plains_and_forests/green_forest.png")),
              tile_size: 8,
              width: 62,
              height: 34,
              spacing: 0,
              padding: 0,
              uid: (137),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/ancient_forests/green forest/props/props_green.png")),
              tile_size: 8,
              width: 64,
              height: 25,
              spacing: 0,
              padding: 0,
              uid: (14),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/props/props.png")),
              tile_size: 8,
              width: 54,
              height: 24,
              spacing: 0,
              padding: 0,
              uid: (167),
              tiles: [
                (
                  xy: (1552.0, 232.0),
                  index: 228,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 232.0),
                  index: 229,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 232.0),
                  index: 141,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 232.0),
                  index: 142,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 240.0),
                  index: 282,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 240.0),
                  index: 283,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 240.0),
                  index: 195,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 240.0),
                  index: 196,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 248.0),
                  index: 336,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 248.0),
                  index: 337,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 248.0),
                  index: 249,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 248.0),
                  index: 250,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 272.0),
                  index: 1180,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 272.0),
                  index: 1181,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 280.0),
                  index: 1234,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 280.0),
                  index: 1235,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 280.0),
                  index: 1214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 280.0),
                  index: 849,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 280.0),
                  index: 850,
                  flip_x: false,
                  flip_y: false,
                ),
              ],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/tileset/tileset.png")),
              tile_size: 8,
              width: 115,
              height: 144,
              spacing: 0,
              padding: 0,
              uid: (162),
              tiles: [
                (
                  xy: (1544.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 224.0),
                  index: 11292,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 224.0),
                  index: 11756,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 224.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 224.0),
                  index: 11298,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 232.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 232.0),
                  index: 11419,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 232.0),
                  index: 11420,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 232.0),
                  index: 11416,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 232.0),
                  index: 11417,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 232.0),
                  index: 11871,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 232.0),
                  index: 11871,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 232.0),
                  index: 11871,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 232.0),
                  index: 11413,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 240.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 240.0),
                  index: 11534,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 240.0),
                  index: 11535,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 240.0),
                  index: 11531,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 240.0),
                  index: 11532,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 240.0),
                  index: 11986,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 240.0),
                  index: 11986,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 240.0),
                  index: 11986,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 240.0),
                  index: 11528,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 248.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 248.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 248.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 248.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 248.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 248.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 248.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 248.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 248.0),
                  index: 11873,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 256.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 256.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 256.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 256.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 256.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 256.0),
                  index: 12904,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 256.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 256.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 256.0),
                  index: 11988,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 264.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 264.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 264.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 264.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 264.0),
                  index: 12906,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 264.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 264.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 264.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 264.0),
                  index: 11988,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 272.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 272.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 272.0),
                  index: 12906,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 272.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 272.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 272.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 272.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 272.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 272.0),
                  index: 11988,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 280.0),
                  index: 11982,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 280.0),
                  index: 12902,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 280.0),
                  index: 11988,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 288.0),
                  index: 12212,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 288.0),
                  index: 12214,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 288.0),
                  index: 12218,
                  flip_x: false,
                  flip_y: false,
                ),
              ],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/ancient_forests/green forest/tileset/treewall_green.png")),
              tile_size: 8,
              width: 30,
              height: 52,
              spacing: 0,
              padding: 0,
              uid: (65),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/plants_&_foliage/plains_and_forests/green_forest.png")),
              tile_size: 8,
              width: 62,
              height: 34,
              spacing: 0,
              padding: 0,
              uid: (137),
              tiles: [],
            ),
          ],
          background_asset_path: None,
        ),
      },
    ),
  },
)