(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "bevy_ldtk_scene::Level": (
          uid: (0),
          tilesets: [
            (
              ty: Tiles(Some("ldtk/../sprites/lamp_post.png")),
              tile_size: 8,
              width: 1,
              height: 4,
              spacing: 0,
              padding: 0,
              uid: (151),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/plants_&_foliage/plains_and_forests/green_forest.png")),
              tile_size: 8,
              width: 62,
              height: 34,
              spacing: 0,
              padding: 0,
              uid: (137),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/ancient_forests/green forest/props/props_green.png")),
              tile_size: 8,
              width: 64,
              height: 25,
              spacing: 0,
              padding: 0,
              uid: (14),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/props/props.png")),
              tile_size: 8,
              width: 54,
              height: 24,
              spacing: 0,
              padding: 0,
              uid: (167),
              tiles: [
                (
                  xy: (1544.0, 104.0),
                  index: 1166,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 112.0),
                  index: 1220,
                  flip_x: false,
                  flip_y: false,
                ),
              ],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/tileset/tileset.png")),
              tile_size: 8,
              width: 115,
              height: 144,
              spacing: 0,
              padding: 0,
              uid: (162),
              tiles: [
                (
                  xy: (1536.0, 72.0),
                  index: 11292,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 72.0),
                  index: 11293,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 72.0),
                  index: 11298,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 80.0),
                  index: 11407,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 80.0),
                  index: 11408,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 80.0),
                  index: 11408,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 80.0),
                  index: 11879,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 80.0),
                  index: 11408,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 80.0),
                  index: 11408,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 80.0),
                  index: 11408,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 80.0),
                  index: 11879,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 80.0),
                  index: 11408,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 80.0),
                  index: 11416,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 80.0),
                  index: 11417,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 80.0),
                  index: 11413,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 88.0),
                  index: 11522,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 88.0),
                  index: 11523,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 88.0),
                  index: 11994,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 88.0),
                  index: 11523,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 88.0),
                  index: 11523,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 88.0),
                  index: 11994,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 88.0),
                  index: 11523,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 88.0),
                  index: 11531,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 88.0),
                  index: 11532,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 88.0),
                  index: 11528,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 96.0),
                  index: 12097,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 96.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 96.0),
                  index: 12103,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 104.0),
                  index: 12097,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 104.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 104.0),
                  index: 12103,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 112.0),
                  index: 12097,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 112.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 112.0),
                  index: 12103,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 120.0),
                  index: 12097,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 120.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 120.0),
                  index: 12103,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 128.0),
                  index: 12097,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 128.0),
                  index: 15322,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 128.0),
                  index: 12103,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 136.0),
                  index: 12212,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 136.0),
                  index: 12213,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 136.0),
                  index: 12218,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 144.0),
                  index: 12327,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 144.0),
                  index: 12328,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 144.0),
                  index: 12330,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 144.0),
                  index: 12330,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 144.0),
                  index: 12330,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 144.0),
                  index: 12330,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 144.0),
                  index: 11416,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 144.0),
                  index: 11417,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 144.0),
                  index: 12332,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 144.0),
                  index: 12333,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1536.0, 152.0),
                  index: 12442,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1544.0, 152.0),
                  index: 12443,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1552.0, 152.0),
                  index: 12443,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1560.0, 152.0),
                  index: 12443,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1568.0, 152.0),
                  index: 12443,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1576.0, 152.0),
                  index: 12443,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1584.0, 152.0),
                  index: 11531,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1592.0, 152.0),
                  index: 11532,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1600.0, 152.0),
                  index: 12447,
                  flip_x: false,
                  flip_y: false,
                ),
                (
                  xy: (1608.0, 152.0),
                  index: 12448,
                  flip_x: false,
                  flip_y: false,
                ),
              ],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/ancient_forests/green forest/tileset/treewall_green.png")),
              tile_size: 8,
              width: 30,
              height: 52,
              spacing: 0,
              padding: 0,
              uid: (65),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/plants_&_foliage/plains_and_forests/green_forest.png")),
              tile_size: 8,
              width: 62,
              height: 34,
              spacing: 0,
              padding: 0,
              uid: (137),
              tiles: [],
            ),
          ],
          background_asset_path: None,
        ),
      },
    ),
  },
)