(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "bevy_ldtk_scene::Level": (
          uid: (0),
          tilesets: [
            (
              ty: Tiles(Some("ldtk/../sprites/park_tileset.png")),
              tile_size: 16,
              width: 120,
              height: 68,
              spacing: 0,
              padding: 0,
              uid: (241),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/props/props.png")),
              tile_size: 8,
              width: 54,
              height: 24,
              spacing: 0,
              padding: 0,
              uid: (167),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/tileset/tileset.png")),
              tile_size: 8,
              width: 115,
              height: 144,
              spacing: 0,
              padding: 0,
              uid: (162),
              tiles: [],
            ),
          ],
          background_asset_path: None,
        ),
      },
    ),
  },
)