(
  resources: {},
  entities: {
    4294967296: (
      components: {
        "bevy_ldtk_scene::Level": (
          uid: (0),
          tilesets: [
            (
              ty: Tiles(Some("ldtk/../sprites/lamp_post.png")),
              tile_size: 8,
              width: 1,
              height: 4,
              spacing: 0,
              padding: 0,
              uid: (151),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/plants_&_foliage/plains_and_forests/green_forest.png")),
              tile_size: 8,
              width: 62,
              height: 34,
              spacing: 0,
              padding: 0,
              uid: (137),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/ancient_forests/green forest/props/props_green.png")),
              tile_size: 8,
              width: 64,
              height: 25,
              spacing: 0,
              padding: 0,
              uid: (14),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/props/props.png")),
              tile_size: 8,
              width: 54,
              height: 24,
              spacing: 0,
              padding: 0,
              uid: (167),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/medieval_city/tileset/tileset.png")),
              tile_size: 8,
              width: 115,
              height: 144,
              spacing: 0,
              padding: 0,
              uid: (162),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/ancient_forests/green forest/tileset/treewall_green.png")),
              tile_size: 8,
              width: 30,
              height: 52,
              spacing: 0,
              padding: 0,
              uid: (65),
              tiles: [],
            ),
            (
              ty: Tiles(Some("ldtk/../minifantasy/plants_&_foliage/plains_and_forests/green_forest.png")),
              tile_size: 8,
              width: 62,
              height: 34,
              spacing: 0,
              padding: 0,
              uid: (137),
              tiles: [],
            ),
          ],
          background_asset_path: Some(("ldtk/Sandbox_background_composite.png", (32.0, -1648.0))),
        ),
      },
    ),
  },
)